.content{
    grid-area:c;
    background-color: burlywood;
  }
  .itemPosts{
      color: rgb(38, 0, 255);
      font-weight: 900;
  }
 
 .itemPosts img {
     height:50px;
     border-radius: 20px;
     margin-top: 10px;
 }
 